body{
  background-color: black;
}
#header{
  text-align: center;
  color: lightgrey;
  margin-top: 8%;
  margin-bottom: 8%;
  font-weight: 100;
}
h1{
  font-size: 2em;
  margin: 2%;
  font-family: 'Open Sans', sans-serif;
}
#header p{
  font-size: 1.5em;
}
#navigation{
  display: block;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.navigation_items{
  border: 1px solid grey;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  position: relative;
  }

.navigation_items p {
  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'Open Sans', sans-serif;
    
}
.navigation_items p {
  text-decoration: none;
  color: black;
}

#navigation_link_first{
  background-color: #D3D3D3;
}
#navigation_link_second{
  background-color:#A9A9A9;
}
#navigation_link_third{
  background-color: #D3D3D3;
}
#navigation_link_fourth{
  background-color: #A9A9A9;
}
@media only screen and (min-width: 426px) {
#header{
  margin-left: 5%;
  margin-top: 5%;
  text-align: unset;
  margin-bottom: 0;
}
h1{
  font-size: 2rem;
  margin: 0;
}
#header p{
margin-top: 1rem;
font-size: 1.5rem;
}
#navigation{
  width: 480px;
  margin-right: auto;
  margin-left: auto;
  
}
.navigation_items{
 
  border: 0;
  border-radius: 50%;
  width: 200px;
  height:200px;
  margin: 20px;
  position: relative;
  font-size: 1.2rem;
}
.navigation_items:hover{
 
  z-index: 5;
  border: 0;
  width: 240px;
  height:240px;
  margin: 0;
  font-size: 1.5rem;
  transition: 0.5s;
}
.navigation_items p{
  font-family: 'Open Sans', sans-serif;
}
.container{
  
  float: left;
  width: 240px;
  height: 240px;
  margin: 0;
}
}